if TARGET_GOSE

config SYS_BOARD
	default "gose"

config SYS_VENDOR
	default "renesas"

config SYS_CONFIG_NAME
	default "gose"

config SYS_TEXT_BASE
	default 0x70000000 if RMOBILE_EXTRAM_BOOT
	default 0xE6304000

endif
